#pink {
    color: pink;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  #cookie{
    display: block;
    max-width: 20%;
    height: auto;
  }
  #reduce{
    display: block;
    max-width: 50%;
    height: auto;
  }

  #reduceLess{
    display: block;
    max-width: 75%;
    height: auto;
  }
  a {
    color: rgb(174, 7, 91);
    
  }
  a:hover {
    color: rgb(195, 132, 191);
  }
  
 
/* 
    Refernce for image styling 
    https://stackoverflow.com/questions/29641526/how-can-images-be-resized-using-bootstrap
*/
#ff0081	(255,0,129)
#ff48a5	(255,72,165)
#ff77bc	(255,119,188)
#ffaed7	(255,174,215)
#ffcae5	(255,202,229)